body {
	background: white;
	font-family: sans-serif;
	border-style: solid;
	border-width: 0;
	border-spacing: 0;
	color: #9b103a;
	margin: 0px;
	padding: 0px;
	position: relative;
}

h1,h2,h3,h4,h5,h6 {
	color: #9b103a;
}

h1 {
	letter-spacing: 0.5em
}

img.logo {
	border: 0;
}

#layout-logo {
	float: left;
}

#layout-restofheader {
	background: #8f8;
}

#layout-header {
	background: #bfb;
}

#layout-navmenu {
	width: 20%;
	float: left;
	clear: both;
	background: #fbb;
}

.navmenuitems {
	background: #f88;
}

#layout-content {
	width: 80%;
	float: left;
	background: #ffb;
}

#layout-footer {
	background: #bfb;
	clear: both;
}

:link {
	text-decoration: none;
	color: #a47819;
}

:visited {
	text-decoration: none;
	color: #a47819;
}

:link :hover,:visited :hover {
	text-decoration: underline;
}

:link :active,:visited :active {
	text-decoration: none;
}